<ui-mat-header
  (inputModelChange)="headerInputModelChange($event)"
  (formSubmit)="headerInputFormSubmit($event)"
  (userButtonClicked)="userButtonClicked($event)"
  [autocompleteOptions$]="autocompleteOptions$"
></ui-mat-header>
<!--<div style="text-align:center">-->
<!--  <h1>Welcome</h1>-->
<!--  <button routerLink="home">Go Home</button>-->
<!--  <button routerLink="">Go Top</button>-->
<!--  <button (click)="authService.loginUser()">User Login</button>-->
<!--  <button (click)="authService.loginApp()">App Login</button>-->
<!--</div>-->
<!--<router-outlet></router-outlet>-->
